<!DOCTYPE html>
<html>
  <head>
      <link rel="icon" href="https://maxcdn.icons8.com/Share/icon/Music//metal_music_filled1600.png">
      <link href="https://fonts.googleapis.com/css?family=Bangers" rel="stylesheet">
    <meta charset="utf-8">
    <title>Rockin' Rick's Reckless Record Roundup</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <h1>Rockin' Rick's Reckless Record Roundup</h1>
      <%= yield %>
  </body>
</html>
