<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Raucous Rick's Reckless Record Roundup</title>
  </head>
  <body>
    <h1>Raucous Rick's Reckless Record Roundup</h1>
      <%= yield %>
  </body>
</html>
