<!DOCTYPE html>
<html>
  <head>
      <link rel="icon">
    <meta charset="utf-8">
    <title>Raucous Rick's Reckless Record Roundup</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <h1>Raucous Rick's Reckless Record Roundup</h1>
      <%= yield %>
  </body>
</html>
