body {
  color: #820606;
  background-image: url("images/maple.jpg");
}

h1 {
  color: #bc2121;
  text-shadow: 2px 2px black;
  font-size: 60px;
  text-align: center;
  font-family: 'Bangers', cursive;
  font-weight:normal;
  font-style:normal;
}

.info-table{
  font-family: "Bangers", cursive;
  border: 1px solid black;
  background-color: rgba(255,255,255, 0.6);
}

.info-table td{
  font-family: 'Bangers', cursive;
  font-weight: bold;
  border: 1px solid black;
}
a:link {
    color: white;
}
a:visited {
    color: #660505;
}
a:hover {
    color: #ff0f0f;
}
a:active {
    color: #590819;
}
.links {
  width: 100%;
  padding-left: 10px;
  margin: auto;
}
.nav-link {
  float: center;
  width: 28%;
  font-family: "Bangers";
  color: white !important;
  background-color: #421717;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.nav-link:hover {
  color: #d10404 !important;
}

.info-table tr:nth-child(even) {
  background-color: rgba(255,255,255, 0.4);
}
.delete-link {
  border-radius: 0px;
  border: none;
  font-size: 20px;
  width: 100%;
  font-family: "Bangers";
  color: white !important;
  background-color: #421717;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
}
.delete-link:hover {
  color: #d10404 !important;
}
.nav-link2 {
  float: center;
  width: 75%;
  font-family: "Bangers";
  color: white !important;
  background-color: #421717;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.nav-link:hover {
  color: #d10404 !important;
}
.nav-link3 {
  float: center;
  width: 90%;
  font-family: "Bangers";
  color: white !important;
  background-color: #421717;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.nav-link:hover {
  color: #d10404 !important;
}
.nav-link4 {
  float: center;
  width: 25%;
  font-family: "Bangers";
  color: white !important;
  background-color: #421717;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.nav-link:hover {
  color: #d10404 !important;
}
.nav-link6{
  width: 15%;
  font-size: 18px;
  font-family: "Bangers";
  color: white !important;
  background-color: #421717;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.nav-link5:hover {
  color: #d10404 !important;
}

div.search
{
  display: block;
  text-align: center;
}
input {
  width: 50%;
  font-size: 20px;
  font-family: "Bangers";
  border: 2px solid #421717;
  border-radius: 4px;
  background-color: white;
  background-image: url('searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding-left: 40px;
  margin-bottom: 5px;
}
.select{
  width: 54%;
}
div.field-group{
  color: #c62121 !important;
  text-shadow: 2px 2px black;
  font-family: "Bangers", cursive;
  font-size: 30px;
  width: 80%;
  display: block;
  text-align: center;
  padding-top: 10px;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
}
.center-button{
  text-align: center;
}
.artist-home{
  text-align: center;
}
.nav-link5{
  margin: auto;
  width: 39.5% ;
  font-size: 30px;
  font-family: "Bangers";
  color: white !important;
  background-color: #421717;

  padding: 14px 25px;
  text-align: center;
}
.label{
#e00000;
}
.add-link{
  margin: auto;
  border-radius: 0px;
  border: none;
  font-size: 20px;
  width: 44%;
  font-family: "Bangers";
  color: white !important;
  background-color: #421717;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
}
.add-link:hover {
  color: #d10404 !important;
}
a.home-button{
  color: white !important;
}
a.home-button:hover {
  color: #d10404 !important;
}
.add-link2{
  border-radius: 0px;
  border: none;
  font-size: 20px;
  width: 55%;
  font-family: "Bangers";
  color: white !important;
  background-color: #421717;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
}
div.result_header{
  color: #bc2121;
  text-shadow: 2px 2px black;
  font-size: 60px;
  text-align: center;
  font-family: 'Bangers', cursive;
  font-weight:normal;
  font-style:normal;
}
div.results{
  color: #bc2121;
  text-shadow: 2px 2px black;
  font-size: 20px;
  text-align: center;
  font-family: 'Bangers', cursive;
  font-weight:normal;
  font-style:normal;
}
div.artist-result-header{
  color: #bc2121 !important;
  text-shadow: 2px 2px black !important;
  font-size: 35px !important;
  text-align: center !important;
  font-family: 'Bangers', cursive !important;
  font-weight:normal !important;
  font-style:normal !important;
}
