<table class="info-table" style="width:100%">
  <tr>
    <th>Arist</th>
    <th>Albums</th>
  </tr>
  <tr>
    <td><%= @artist.name %></a></td>
    <td>
      <ul>
        <% @artist.albums.each do |album| %>
        <li><%= album.title %></li>
        <% end %>
      </ul>
    </td>
  </tr>
</table>
