<h1>Artists</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th>albums</th>
  </tr>
  <% for artist in @artist %>
  <tr>
    <td><a href="/artists/<%= artist.id %>"><%= artist.name %></a></td>
    <td>|</td>
    <td>
      <ul>
        <% artist.albums.each do |album| %>
          <li><%= album.title %></li>
          <% end %>
      </ul>
    </td>
  </tr>
  <% end %>
</table>
