<h1>Add New Artist</h1>

<form class="" action="/" method="get">
  <button class="button" type="submit" formaction="/">Index</button>
</form>

<form method="post" action="/artist">

  <div class="field-group">
    <label for="first-name-field" class="label">Name:</label>
    <div class="field">
      <input
        type="text"
        name="name"
        id="first-name-field"
        placeholder="Artist Name"
        required
      />
   </div>
  </div>

  <div class="field-group">
    <label for="last-name-field" class="label">Artwork:</label>
    <div class="field">
      <input
        type="text"
        name="logo"
        id="last-name-field"
        placeholder="artwork url"
        required
      />
    </div>
  </div>

  <button class="big-button button">add artist</button>
</form>
